body{
  background-color: #dedede;
}
.gallery{
  display: flex;
  width: 1200px;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
figure{
  width: 300px;
  margin: 0;
  border: 1px solid #777;
  border-radius:10px;
  box-sizing: border-box;
  background-color: #fff;
}
figure img{
  width: 100%;
}
figure figcaption{
  text-align: center;
  padding: 8px 4px;
}
.mySlides {display:none;}
 i {
    display: block;
    margin: 0 30px;
  }
